@import url('https://fonts.googleapis.com/css2?family=Galada&display=swap');

body{
    background-color: black;
}

.tamanoImg{
    width: 80%;
}
.menu{
    background-color: rgb(182, 212, 47);
}

.negro{
    color: black;
}

th{
    color:rgb(182, 212, 47);
}

a{
    text-decoration: none;
}
.title{
    text-align:center;
    background-color: rgb(182, 212, 47);
    color: black;
}
li > a{
    color: black;
}
.btn-title{
    border: none;
    background-color: rgb(182, 212, 47);
}
.title-product {
    padding-top: 5px;
    font-family: "galada";
}
h3{
    color:rgb(182, 212, 47);
    font-size: 1em;
}

.btn-car{
    position: fixed;
    bottom: 25px;
    right: 40px;
    z-index: 999;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn-main{
    position: fixed;
    bottom: 25px;
    left: 40px;
    z-index: 999;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.boton-mas{
    background-color: rgba(8, 114, 8, 0.2)!important;
    margin-left: 3px;
    font-weight: bolder !important;
    color: green;
}  
.btn-menos{
    padding-left: .6rem;
    padding-right: .6rem;
    font-weight: bolder !important;
    background-color: rgba(212, 47, 47, 0.2)!important;
    color: red;
}

.btn-cant-car{
    width: 30px;
}

.card-product {
    background-color: #212020;
    border-right: 1px solid rgba(182, 212, 47, 0.2);
    border-bottom: 1px solid rgba(182, 212, 47, 0.2);
    text-align: center;
    justify-content: center;
}

.text-card-product{
    color:aliceblue;
    background-color: rgba(32, 32, 32, 0.2) !important;
}